* {
    margin: 0;
    padding: 0;
}

header{
    padding:;
    background-image: url("background.jpg");

    text-align: center;
    color: white;
   
}
.header1 {
    display:flex;
}

#titel{
   padding:70px;
   flex:3;
}
#logobilden{
    width:10%;
    display: block;
    margin-top:;
    margin:5%;
    flex:1;
    
}
section{
    display:;
    margin: ;
}
.wrapper {
    display:flex;
}
nav{
    flex:;
    margin: 0; 
    padding: 10px;
    display:;
    border: rgb(135, 250, 150);
    background-color: magenta;
}
article{
    flex: 4;
    text-align: center;
    background-color: maroon;
}
footer{
   
    padding: 10px;
    background-color: lime;
    text-align: center;
}
@media only screen and (max-wigth: 660px) {
    section{
        flex-direction:;
    }
  
}