* {
    margin: 0;
    padding: 0;
}

header{
    background-image: url("background.jpg");
    text-align: center;
    color: white;
   
}
.header1 {
    display:flex;
}

#titel{
   flex:3;
}
#myschool_tittel{
    text-align: center;
}
.p{
    text-align: justify;
    padding: 5px 300px 20px 300px;
}
#logobilden{
    display: block;
    max-width: 8%;
    margin:auto;
    flex:0 200px;
    padding:2%;
    background-size: contain;
    
}
section{
    display: block;
}
.wrapper {
    display:flex;
}
ul{
    list-style-type: none;
   }
li a{
    
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    background-color:goldenrod;
    text-decoration: none;
}
nav{
    margin: 0; 
    padding: 10px;
    border: rgb(135, 250, 150);
    background-color:goldenrod;
}
article{
    padding:100px;
    flex: 4;
    text-align: center;
    background-color:gray; 

}
.image{
    width: 50%;
  
}
.model{
    height: 100%;
    width: 100%;
}
.boxes{
    display: flex;
}
footer{
    font-size: 2rem;
    padding: 15px;
    background-color:goldenrod;
    text-align: center;
}
@media only screen and (max-wigth: 660px) {
    section{
        flex-direction:;
    }
  
}

#profile_contin{
   padding:20px
}